<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {include file="common/head" /} {include file="common/left" /}
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class="layui-btn-group">
                    <a href="{:url('add')}" class="layui-btn">添加管理员</a>
                </div>
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>用户名</th>
                            <th>最后一次登陆时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="data" id="v"}
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.uname}</td>
                            <td>{$v.last_time|date="Y-m-d",###}</td>
                            <td>
                                <form class="layui-form" action="">
                                     <div class="layui-form-item">
                                        <div class="layui-input-block" style="margin-left:0;">
                                          <input type="checkbox" data-id="{$v.id}" lay-text="启用|停用" lay-filter="switchBtn" name="switch" lay-skin="switch" {if condition="$v.status eq 1"}checked{/if}>
                                        </div>
                                      </div>
                                </form>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a class="layui-btn layui-btn-normal" href="{:url('edit',['id'=>$v['id']])}">编辑</a>
                                    <a class="layui-btn layui-btn-danger btn-dele" data-href="{:url('dele',['id'=>$v['id']])}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="__ADMIN__/layui/layui.js"></script>
    <script>
    //JavaScript代码区域
    layui.use(['element','layer','form','jquery'], function() {
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.jquery;
        form.on('switch(switchBtn)', function(data){
            var idnum = data.elem.getAttribute('data-id');
            if(data.elem.checked){
               $.ajax({
                type:'post',
                url:'{:url('ajaxUpdateStatus')}',
                dataType:'json',
                data:{
                    status:1,
                    id:idnum
                },
                success:function(res){
                    if(res.code == 1){
                        return layer.msg('修改成功');
                    }else{
                         return layer.msg('修改失败');
                    }
                    
                },
                error:function(){
                    return layer.msg('修改失败');
                }
               })
            }else{
                $.ajax({
                type:'post',
                url:'{:url('ajaxUpdateStatus')}',
                dataType:'json',
                data:{
                    status:0,
                    id:idnum
                },
                success:function(res){
                    if(res.code == 1){
                        return layer.msg('修改成功');
                    }else{
                         return layer.msg('修改失败');
                    }
                    
                },
                error:function(){
                    return layer.msg('修改失败');
                }
               })
            }
        
        });
        $('.btn-dele').on('click',function(){
            var urlstr = $(this).attr('data-href');
            var self = $(this);
            layer.confirm('确定要删除吗?', {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    url:urlstr,
                    type:'get',
                    dataType:'json',
                    success:function(data){
                        if(data.status == 1){
                            layer.msg('删除成功');
                            self.parents('tr').remove();
                        }
                    },
                    error:function(){

                    }
                })
              // layer.close(index);
            });
        })
    });
    </script>
</body>

</html>