<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="OyUb4RVdSe">
    <meta name="renderer" content="webkit">
	<title>关于我们</title>
	<link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
	<!--顶部导航-->
<header class="header">
    <nav class="top-nav">
        <a href="javascript:;"><img class="logo" src="images/footer-logo.png" alt=""></a>
        <ul>
            <li class="active"><a href="index.html">首页 </a></li>
            <li><a href="website.html">网站建设 </a></li>
            <li><a href="app.html">APP开发 </a></li>
            <li><a href="wechat.html">微信开发 </a></li>
            <li><a href="list2.html">案例 </a></li>
            <li><a href="solution.html">解决方案 </a></li>
            <li><a href="list.html">新闻资讯 </a></li>

        </ul>
    </nav>
</header>
<!--顶部导航end-->

<!--顶部大图-->
<section class="top-img">
    <img src="images/about.jpg" alt="">
</section>

<section class="about-us">
	<h4>关于我们</h4>
	<p>贵州海鑫盛科技有限公司，致力于移动互联网各个领域手机应用开发、客户端开发、服务端开发、手机软件开发方向；创建团队都是来自行业内的经营成员，拥有丰富的无线及互联网工作经验；我们专注于移动互联网，坚持以技术创新为核心，以用户需求为导向，关注用户体验，市场发展方向，努力成为国内领先的移动互联 网应用开发服务商，为企业客户提供最专业的移动应用产品的开发支持和解决方案。</p>
</section>

<section class="about-wrap">
	<div class="pic fLeft"><img src="images/about-left.jpg" alt=""></div>
	<div class="about-info fRight">
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
		<h3>追求精品</h3>
		<p>将用户体验放在首位,从前期的需求分析、产品原型设计、视觉设计、后期可用性测试等，提供多分辨率适配设计。对每个界面的操作体验和每一个像素效果进行推敲.</p>
		<h3>测试严格</h3>
		<p>模拟手机内存储将满、SD卡存储将满、低电量、无卡等多种复杂的手机临界条件时APP运行情况,对每一个APP都会进行严格的系统机型适配测试，并出具完善的测试报告.</p>
		<h3>迅速开发</h3>
		<p>以严谨的实施系统，完善的服务系统为基本保障在最短的时间内开发出稳定可靠的手机应用软件产品，引导、挖掘客户需求，实时掌握开发团队的进程与状态。成本低为实现企业价值最大化的过程中，实现了自身的价值的提升，取得了最大程度的双赢合作,以最优的技术和资源控制手机软件开发，手机应用开发成本.</p>
	</div>
</section>
<section class="about-wrap">
	<div class="about-info" style="width: 1200px;">
		<ol class="bgColor2">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
		<ul>
			<li>
				<h3>从技术出发</h3>
				<p> 我们拥有多年网站制作经验的技术团队，擅长各类大型平台、各类网站站点、seo优化推广办公软件等开发制作。</p>
			</li>
			<li>
				<h3>从设计出发</h3>
				<p>我们拥有优秀的,高水平的设计师团队，个性化定制，以高超的水平、独特的设计思维为客户打造出满意的作品。</p>
			</li>
			<li>
				<h3>从服务出发</h3>
				<p>我们拥有经验丰富的服务团队，随时了解企业客户在不同发展阶段的个性化需求，提供专业性解决方案。</p>
			</li>
			<li>
				<h3>从销售出发</h3>
				<p>我们拥有经验丰富的销售团队，全方位为您解决问题，高效率的为客户提供全方位的一站式服务。</p>
			</li>
			<li>
				<h3>从安全出发</h3>
				<p>我们自备高性能的服务器，确保各区域客户网站安全无忧。</p>
			</li>
		</ul>
	</div>
</section>

<section class="about-wrap">
	<div class="about-info fLeft">
		<ol style="margin-bottom: 40px;">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
		<p class="marginB"><strong>创新：</strong>创新是一个民族进步的灵魂，是一个国家兴旺发达的不竭动力，是一个企业永葆生机的源泉，不仅是一种态度，更是一种信念</p>
		<p class="marginB"><strong>专业：</strong>以专业成就品质，以专业开拓辉煌</p>
		<p class="marginB"><strong>专注：</strong>以专注坚定信念，以专注创造奇迹，拥有“鹰”一样的敏锐性与高度集中的注意力</p>
		<p class="marginB"><strong>诚信：</strong>人而无信，不知其可也。信誉成就品质，累积成就大业，公司无信无以立商海</p>
		<p class="marginB"><strong>合作：</strong>整体利益为先，创造优秀的团队绩效；放眼未来，与时俱进，不断追求优秀的合作</p>
	</div>
	<div class="pic fRight"><img src="images/about-right.jpg" alt=""></div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>走进海鑫盛</h3>
                <ul>
                    <li><a href="javascript:;">关于我们</a></li>
                    <li><a href="javascript:;">APP推广</a></li>
                    <li><a href="javascript:;">网站建设</a></li>
                    <li><a href="javascript:;">SEO推广</a></li>
                    <li><a href="javascript:;">解决方案</a></li>
                    <li><a href="javascript:;">隐私政策与版权声明</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>联系我们</h3>
                <ul>
                    <li>地址：贵阳市南明区花果园</li>
                    <li>手机：18585853123</li>
                    <li>电话：0851-88574848</li>
                    <li>邮箱：<a href="javascript:;">924200@qq.com</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>友情链接</h3>
                <ul>
                    <li><a href="javascript:;">短信平台</a></li>
                    <li><a href="javascript:;">沈阳网站建设</a></li>
                    <li><a href="javascript:;">长沙seo</a></li>
                    <li><a href="javascript:;">贵阳网站建设</a></li>
                    <li><a href="javascript:;">软文</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>关注我们</h3>
                <img src="images/hxskj-erWeiMa.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="logo-footer"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="links-box">
                <ul>
                    <li><a href="javascript:;">贵阳APP开发公司</a></li>
                    <li><a href="javascript:;">手机软件开发</a></li>
                    <li><a href="javascript:;">APP软件开发</a></li>
                    <li><a href="javascript:;">APP公司</a></li>
                    <li><a href="javascript:;">APP开发公司</a></li>
                    <li><a href="javascript:;">IOS开发</a></li>
                    <li><a href="javascript:;">手机应用软件开发</a></li>
                    <li><a href="javascript:;">微信公众号开发</a></li>
                    <li><a href="javascript:;">小程序开发</a></li>
                    <li><a href="javascript:;">微信小程序开发</a></li>
                </ul>
                <div class="beian"><img src="images/备案图标.png" style="float:left;">
                    <p style="color:#939393;">贵公网安备 52010302000522号
                        <a href="javascript:;">贵州海鑫盛科技有限公司</a> &nbsp;&nbsp;黔ICP备15006187号</p></div>
            </div>
        </div>
    </div>
</footer>
<div class="fiexd-box">
    <ul>
        <li><a href="javascript:;"><i class="iconfont icon-shouji"></i><span>13765487954</span></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2894603415&site=在线联系&menu=yes" target="_blank"><i class="iconfont icon-qq"></i></a></li>
        <li class="go-back"><a href="javascript:;"><i class="iconfont icon-kongjiantouup"></i></a></li>
    </ul>
</div>
</body>
<script src="js/jquery.js"></script>
<script src="js/smooth.js"></script>
<script src="js/public.js"></script>
</html>