<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站建设</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="OyUb4RVdSe">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{$skin}/font/iconfont.css">
    <link rel="stylesheet" href="{$skin}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$skin}/css/public.css">
    <link rel="stylesheet" href="{$skin}/css/website.css">
    <link href="{$skin}/css/animate.min.css" rel="stylesheet">
</head>
<body>
<!--顶部导航-->
<header class="header">
    <nav class="top-nav">
        <a href="javascript:;"><img class="logo" src="{$skin}/images/footer-logo.png" alt=""></a>
        <ul>
            <li class="active"><a href="index.html">首页 </a></li>
            <li><a href="website.html">网站建设 </a></li>
            <li><a href="app.html">APP开发 </a></li>
            <li><a href="wechat.html">微信开发 </a></li>
            <li><a href="list2.html">案例 </a></li>
            <li><a href="solution.html">解决方案 </a></li>
            <li><a href="list.html">新闻资讯 </a></li>

        </ul>
    </nav>
</header>
<!--顶部导航end-->

<!--头部大图-->
<section class="top-banner">
    <canvas id=c></canvas>
    <h1 class="glow in tlt">网站建设</h1>
    <p class="tlt" data-in-effect="bounceInDown">为中小企业提供一站式PC及移动应用解决方案</p>
</section>
<!--头部大图  end-->

<!--网站建设一条龙服务-->
<section class="web-list">
    <ul>
        <li>
            <div class="item-info">
                <h4>网站建设一条龙服务</h4>
                <small>策划、设计、制作、推广</small>
                <i class="iconfont icon-guanwangfangwen"></i>
                <p>从市场的角度和客户的需求出发，融合视觉美学 及有效策略，提升企业与产品的内在品质。</p>
            </div>
            <div class="list-mask"></div>
        </li>
        <li>
            <div class="item-info">
                <h4>创意设计服务</h4>
                <small>让您网站变成更有个性化</small>
                <i class="iconfont icon-sheji"></i>
                <p>时代化设计，创新网站个性风格，从而提升网站影响力,扩展品牌形象。</p>
            </div>
            <div class="list-mask"></div>

        </li>
        <li>
            <div class="item-info">
                <h4>程序开发服务</h4>
                <small>满足您所需求的功能</small>
                <i class="iconfont icon-xiaochengxu"></i>
                <p>全方位功能定制，设计您所需要的功能开发，满足网站用户的需求，解决网站更新朝流。</p>
            </div>
            <div class="list-mask"></div>

        </li>
        <li>
            <div class="item-info">
                <h4>网站改版、网站维护</h4>
                <small>打造安全、优质网站</small>
                <i class="iconfont icon-youhuayunhang"></i>
                <p>从市场的角度和客户的需求出发，融合视觉美学 及有效策略，提升企业与产品的内在品质。</p>
            </div>
            <div class="list-mask"></div>

        </li>
    </ul>
</section>
<!--网站建设  end-->

<!--企业官网建设-->
<section class="web-item wow slideInUp"  data-wow-duration="1.5s" data-wow-offset="20">
   <div class="item-wrap">
       <div class="item-words float-left">
           <h3><span></span>企业官网建设</h3>
           <p>企业官方网站涵盖的行业类型多、信息量大、访问群体广，有利于社会对企业的全面了解。 我们提供的企业官网建设服务会根据客户不同行业、 不同类型，辅以一套特色的网站视觉识别系统， 从而提出一个最合适的形象定位。用最合适的展示方式、展示效果、站点框架，把客户及其用户最关心的问题突出表现。</p>
       </div>
       <div class="item-img float-right">
           <img src="{$skin}/images/web-item-01.png" alt="">
       </div>
   </div>
</section>

<!--品牌创意网站-->
<section class="web-item web-bg01 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="20">
    <div class="item-mask"></div>
    <div class="item-wrap item-pos">
        <div class="item-img float-left img-left">
            <img src="{$skin}/images/web-item-02.png" alt="">
        </div>
        <div class="item-words float-right words-right-style">
            <h3 class="line-color1">品牌创意网站</h3>
            <p style="padding-left:0;">品牌展示网站以提升客户品牌价值和市场占有率为目标。 强调的是品牌形象的塑造和传播，网站的所有内容及功能的安排都是为了实现 品牌传播及增强品牌美誉度这两个目的。
                网站整体在提供良好用户体验的基础上偏向于设计，更多的以独特创意 的视觉效果强调品牌的特色，在此基础上提升品牌的影响力和营销力。</p>
        </div>
    </div>
</section>

<!--企业营销网站-->
<section class="web-item wow slideInUp" data-wow-duration="1.5s" data-wow-offset="20">
    <div class="item-wrap">
        <div class="item-words float-left">
            <h3 class="line-color2">企业营销网站</h3>
            <p>在与您充分沟通了解需求后，以营销为出发点，以提高客户转化率为主要目标。充分考虑营销因素，考虑网站的设计与功能。
                充分考虑seo的营销因素，使网站的整体结构与搜索引擎的习惯相符合，从而逐步成功实现枢纽词策略，使得与企业相关营销因素的枢纽词可以获得较好的排名。</p>
        </div>
        <div class="item-img float-right">
            <img src="{$skin}/images/web-item-03.png" alt="">
        </div>
    </div>
</section>

<!--电商网站建设-->
<section class="web-item web-bg02 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="20">
    <div class="item-mask"></div>
    <div class="item-wrap item-pos">
        <div class="item-img float-left img-left">
            <img src="{$skin}/images/web-item-04.png" alt="">
        </div>
        <div class="item-words float-right words-right-style">
            <h3><span></span>电商网站建设</h3>
            <p>网上商城开辟了属于自己的稳定的营销渠道，能扩大市场份额，建立连锁、分销的 统一电商运营管理系统，同时还可接触最直接消费者，获得第一手产品市场反馈。 我们的商城网站建设服务能为客户建立符合自身特点的积分管理、VIP管理、客户服务交流管理，商品销售分析系统。</p>
        </div>
    </div>
</section>

<!--响应式网站-->
<section class="web-item wow slideInUp" data-wow-duration="1.5s" data-wow-offset="20">
    <div class="item-wrap">
        <div class="item-words float-left">
            <h3 class="line-color3">响应式网站</h3>
            <p>以HTML5技术为基础，实现移动终端自动兼容与浏览，延伸品牌和用户之间的触点设计开发符合移动端的H5页面，全面兼容手机、PAD等移动设备，拓宽品牌传播渠道，结合移动互联网的特点，将个性化、社会化、场景化融入项目。</p>
        </div>
        <div class="item-img float-right">
            <img src="{$skin}/images/web-item-05.jpg" alt="">
        </div>
    </div>
</section>

<!--集团站群定制-->
<section class="web-item web-bg03 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="20">
    <div class="item-mask"></div>
    <div class="item-wrap item-pos">
        <div class="item-img float-left img-left">
            <img src="{$skin}/images/web-item-06.png" alt="">
        </div>
        <div class="item-words float-right words-right-style">
            <h3 class="line-color4">集团站群定制</h3>
            <p>
                集团公司具有架构庞大，跨行业的特点，包括诸多的职能部门和下属子公司，百川互动根据集团公司不同的特点和行业属性，针对性提出解决方案和建设实施，以CMS平台多站点技术为依托实现化繁为简的管理。
            </p>
        </div>
    </div>
</section>

<!--动态资讯-->
<section class="messqge">
    <div class="mes-title">
        <h3>WEB NEWS<br />网站资讯</h3>
        <p>关注我们的资讯，了解最新网站、推广、优化相关资讯，洞悉互联网前沿资讯，探寻网站优化规律</p>
    </div>
    <div class="mes-list">
        <ul>
            <li class="list-item-title">
                <h4>热门资讯 <span><strong>HOT</strong> INFORMATION</span><a href="list.html">more+</a></h4>
            </li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助 <span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
        </ul>
        <ul>
            <li class="list-item-title">
                <h4>行业新闻 <span>INDUSTRY NEWS</span> <a href="list.html">more+</a></h4>
            </li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助 <span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
        </ul>
        <ul>
            <li class="list-item-title">
                <h4>网站建设 <span>WEB BUILD</span> <a href="list.html">more+</a></h4>
            </li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助 <span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
            <li><a href="article.html">专注工业软件开发华软恒信科技助<span>2018/07/14</span></a></li>
        </ul>
    </div>
</section>
<!--动态资讯 end-->
<!--案例模块-->
<section class="our-case">
    <div class="case-middle">
        <div class="left-img">
            <img src="{$skin}/images/website_img_01.png" alt="">
        </div>
        <div class="case-info">
            <h3>四站合一的网站建设服务</h3>
            <span>PC网站+手机站+微站+app 四位一体</span>
            <p>凭借多年网站建设经验，倾力打造的一款全网营销建站系统。为中小企业提供一站式PC及移动应用解决方案，对接云计算、大数据和物联网等最新技术， 将O2O、C2C、B2C、B2B等模式集于一体，实现全网营销全渠道覆盖！</p>
            <a href="list2.html">网站案例</a>
        </div>
    </div>
    <div class="right-img">
        <img src="{$skin}/images/website_img_02.png" alt="">
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>走进海鑫盛</h3>
                <ul>
                    <li><a href="javascript:;">关于我们</a></li>
                    <li><a href="javascript:;">APP推广</a></li>
                    <li><a href="javascript:;">网站建设</a></li>
                    <li><a href="javascript:;">SEO推广</a></li>
                    <li><a href="javascript:;">解决方案</a></li>
                    <li><a href="javascript:;">隐私政策与版权声明</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>联系我们</h3>
                <ul>
                    <li>地址：贵阳市南明区花果园</li>
                    <li>手机：18585853123</li>
                    <li>电话：0851-88574848</li>
                    <li>邮箱：<a href="javascript:;">924200@qq.com</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>友情链接</h3>
                <ul>
                    <li><a href="javascript:;">短信平台</a></li>
                    <li><a href="javascript:;">沈阳网站建设</a></li>
                    <li><a href="javascript:;">长沙seo</a></li>
                    <li><a href="javascript:;">贵阳网站建设</a></li>
                    <li><a href="javascript:;">软文</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>关注我们</h3>
                <img src="{$skin}/images/hxskj-erWeiMa.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="logo-footer"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="links-box">
                <ul>
                    <li><a href="javascript:;">贵阳APP开发公司</a></li>
                    <li><a href="javascript:;">手机软件开发</a></li>
                    <li><a href="javascript:;">APP软件开发</a></li>
                    <li><a href="javascript:;">APP公司</a></li>
                    <li><a href="javascript:;">APP开发公司</a></li>
                    <li><a href="javascript:;">IOS开发</a></li>
                    <li><a href="javascript:;">手机应用软件开发</a></li>
                    <li><a href="javascript:;">微信公众号开发</a></li>
                    <li><a href="javascript:;">小程序开发</a></li>
                    <li><a href="javascript:;">微信小程序开发</a></li>
                </ul>
                <div class="beian"> <img src="{$skin}/images/备案图标.png" style="float:left;"><p style="color:#939393;">贵公网安备 52010302000522号
                    <a href="javascript:;">贵州海鑫盛科技有限公司</a> &nbsp;&nbsp;黔ICP备15006187号</p></div>
            </div>
        </div>
    </div>
</footer>
<div class="fiexd-box">
    <ul>
        <li><a href="javascript:;"><i class="iconfont icon-shouji"></i><span>13765487954</span></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2894603415&site=在线联系&menu=yes"><i class="iconfont icon-qq"></i></a></li>
        <li class="go-back"><a href="javascript:;"><i class="iconfont icon-kongjiantouup"></i></a></li>
    </ul>
</div>
</body>

<script src="{$skin}/js/wow.min.js"></script>
<script src="{$skin}/js/smooth.js"></script>
<script src="{$skin}/js/website.js"></script>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="{$skin}/js/public.js"></script>
<script type="text/javascript">
    new WOW().init();
</script>
</html>