
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-yunshangchuan"></i>
                    <div class="name">云上传</div>
                    <div class="fontclass">.icon-yunshangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuyin"></i>
                    <div class="name">语音</div>
                    <div class="fontclass">.icon-yuyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanwangfangwen"></i>
                    <div class="name">官网访问</div>
                    <div class="fontclass">.icon-guanwangfangwen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixin"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.icon-weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jihui"></i>
                    <div class="name">机会</div>
                    <div class="fontclass">.icon-jihui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiye"></i>
                    <div class="name">企业</div>
                    <div class="fontclass">.icon-qiye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-first"></i>
                    <div class="name">第一</div>
                    <div class="fontclass">.icon-first</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yewuliu"></i>
                    <div class="name">业务流</div>
                    <div class="fontclass">.icon-yewuliu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shequ1xiangqian09"></i>
                    <div class="name">特色服务体验</div>
                    <div class="fontclass">.icon-shequ1xiangqian09</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hetong"></i>
                    <div class="name">合同</div>
                    <div class="fontclass">.icon-hetong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zyfw"></i>
                    <div class="name">专业服务</div>
                    <div class="fontclass">.icon-zyfw</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-anquan"></i>
                    <div class="name">安全</div>
                    <div class="fontclass">.icon-anquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuanye"></i>
                    <div class="name">专业</div>
                    <div class="fontclass">.icon-zhuanye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-server-copy"></i>
                    <div class="name">服务器</div>
                    <div class="fontclass">.icon-server-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-msnui-operate"></i>
                    <div class="name">运营</div>
                    <div class="fontclass">.icon-msnui-operate</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tubiaozhuxingtu"></i>
                    <div class="name">图表 柱形图</div>
                    <div class="fontclass">.icon-tubiaozhuxingtu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qq"></i>
                    <div class="name">QQ</div>
                    <div class="fontclass">.icon-qq</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erweima"></i>
                    <div class="name">二维码</div>
                    <div class="fontclass">.icon-erweima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingyuehao"></i>
                    <div class="name">订阅号</div>
                    <div class="fontclass">.icon-dingyuehao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuxing1"></i>
                    <div class="name">信息</div>
                    <div class="fontclass">.icon-tuxing1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-goutong"></i>
                    <div class="name">沟通</div>
                    <div class="fontclass">.icon-goutong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kongjiantouup"></i>
                    <div class="name">箭头</div>
                    <div class="fontclass">.icon-kongjiantouup</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kongup"></i>
                    <div class="name">箭头</div>
                    <div class="fontclass">.icon-kongup</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-canyin"></i>
                    <div class="name">餐饮</div>
                    <div class="fontclass">.icon-canyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxiang2"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.icon-fenxiang2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chanpinzhanshiicon"></i>
                    <div class="name">jy产品展示icon</div>
                    <div class="fontclass">.icon-chanpinzhanshiicon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qinggongzhizao"></i>
                    <div class="name">轻工制造</div>
                    <div class="fontclass">.icon-qinggongzhizao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuiguang"></i>
                    <div class="name">推广</div>
                    <div class="fontclass">.icon-tuiguang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiaotong"></i>
                    <div class="name">交通</div>
                    <div class="fontclass">.icon-jiaotong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wanju"></i>
                    <div class="name">玩具</div>
                    <div class="fontclass">.icon-wanju</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hangyeqianjinghao"></i>
                    <div class="name">行业前景好</div>
                    <div class="fontclass">.icon-hangyeqianjinghao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-nongye"></i>
                    <div class="name">农业</div>
                    <div class="fontclass">.icon-nongye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chuangxin"></i>
                    <div class="name">创新</div>
                    <div class="fontclass">.icon-chuangxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiaofukehu"></i>
                    <div class="name">交付客户</div>
                    <div class="fontclass">.icon-jiaofukehu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon-test8"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-icon-test8</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-b2"></i>
                    <div class="name">修改</div>
                    <div class="fontclass">.icon-b2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SEO"></i>
                    <div class="name">SEO</div>
                    <div class="fontclass">.icon-SEO</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiejuefangan"></i>
                    <div class="name">解决方案</div>
                    <div class="fontclass">.icon-jiejuefangan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yumingguanli"></i>
                    <div class="name">域名管理</div>
                    <div class="fontclass">.icon-yumingguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibo"></i>
                    <div class="name">微博 (1)</div>
                    <div class="fontclass">.icon-weibo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mianfei"></i>
                    <div class="name">免费</div>
                    <div class="fontclass">.icon-mianfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-idea_icon"></i>
                    <div class="name">主意</div>
                    <div class="fontclass">.icon-idea_icon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fushipeijian"></i>
                    <div class="name">服饰配件</div>
                    <div class="fontclass">.icon-fushipeijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shiyouhuagong"></i>
                    <div class="name">石油化工</div>
                    <div class="fontclass">.icon-shiyouhuagong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuqiu"></i>
                    <div class="name">需求</div>
                    <div class="fontclass">.icon-xuqiu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liuchengxiangdao"></i>
                    <div class="name">流程向导</div>
                    <div class="fontclass">.icon-liuchengxiangdao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ziyuan1"></i>
                    <div class="name">医疗</div>
                    <div class="fontclass">.icon-ziyuan1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jianzhu"></i>
                    <div class="name">建筑</div>
                    <div class="fontclass">.icon-jianzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingwei"></i>
                    <div class="name">定位</div>
                    <div class="fontclass">.icon-dingwei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-consult"></i>
                    <div class="name">咨询</div>
                    <div class="fontclass">.icon-consult</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ruanjian"></i>
                    <div class="name">软件</div>
                    <div class="fontclass">.icon-ruanjian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fod-business"></i>
                    <div class="name">左侧菜单业务</div>
                    <div class="fontclass">.icon-fod-business</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youjiantou"></i>
                    <div class="name">右箭头</div>
                    <div class="fontclass">.icon-youjiantou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lvyou"></i>
                    <div class="name">旅游</div>
                    <div class="fontclass">.icon-lvyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hangqing"></i>
                    <div class="name">行情</div>
                    <div class="fontclass">.icon-hangqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaochengxu"></i>
                    <div class="name">小程序</div>
                    <div class="fontclass">.icon-xiaochengxu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huanbao"></i>
                    <div class="name">环保</div>
                    <div class="fontclass">.icon-huanbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yaoyiyao"></i>
                    <div class="name">摇一摇</div>
                    <div class="fontclass">.icon-yaoyiyao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-h"></i>
                    <div class="name">h5</div>
                    <div class="fontclass">.icon-h</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ziyuan"></i>
                    <div class="name">资源 8</div>
                    <div class="fontclass">.icon-ziyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianzi"></i>
                    <div class="name">电子</div>
                    <div class="fontclass">.icon-dianzi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wancheng"></i>
                    <div class="name">完成</div>
                    <div class="fontclass">.icon-wancheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jigou"></i>
                    <div class="name">机构</div>
                    <div class="fontclass">.icon-jigou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sheji"></i>
                    <div class="name">设计</div>
                    <div class="fontclass">.icon-sheji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-paobu_fuzhi"></i>
                    <div class="name">运动</div>
                    <div class="fontclass">.icon-paobu_fuzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kehu"></i>
                    <div class="name">客户</div>
                    <div class="fontclass">.icon-kehu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfontyoujiantou-copy"></i>
                    <div class="name">右箭头</div>
                    <div class="fontclass">.icon-iconfontyoujiantou-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuwu"></i>
                    <div class="name">服 务</div>
                    <div class="fontclass">.icon-fuwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuiligongcheng"></i>
                    <div class="name">水利工程</div>
                    <div class="fontclass">.icon-shuiligongcheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuji"></i>
                    <div class="name">主机</div>
                    <div class="fontclass">.icon-zhuji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangan"></i>
                    <div class="name">方案详情</div>
                    <div class="fontclass">.icon-fangan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jichuguanli1"></i>
                    <div class="name">基础 管 理 </div>
                    <div class="fontclass">.icon-jichuguanli1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jixie"></i>
                    <div class="name">机械</div>
                    <div class="fontclass">.icon-jixie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-web-kekaofuwu"></i>
                    <div class="name">可靠服务</div>
                    <div class="fontclass">.icon-web-kekaofuwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxiaoxitong"></i>
                    <div class="name">分销系统</div>
                    <div class="fontclass">.icon-fenxiaoxitong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youhuayunhang"></i>
                    <div class="name">优化运行</div>
                    <div class="fontclass">.icon-youhuayunhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-secondarydevelopmen"></i>
                    <div class="name">二次开发服务</div>
                    <div class="fontclass">.icon-secondarydevelopmen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifu"></i>
                    <div class="name">支付</div>
                    <div class="fontclass">.icon-zhifu</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
