<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {include file="common/head" /} {include file="common/left" /}
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <form class="layui-form" action="" method="post">
                    <input type="hidden" name="id" value="{$data.id}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">中文名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="cname" value="{$data.cname}" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">英文名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="ename" value="{$data.ename}" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <select name="dt_type" lay-verify="required">
                                <option value=""></option>
                                <option value="1" {if condition="$data['dt_type'] eq 1"}selected{/if}>单行文本框</option>
                                <option value="2" {if condition="$data['dt_type'] eq 2"}selected{/if}>多行文本框</option>
                                <option value="3" {if condition="$data['dt_type'] eq 3"}selected{/if}>单选按钮</option>
                                <option value="4" {if condition="$data['dt_type'] eq 4"}selected{/if}>复选框</option>
                                <option value="5" {if condition="$data['dt_type'] eq 5"}selected{/if}>下拉菜单</option>
                                <option value="6" {if condition="$data['dt_type'] eq 6"}selected{/if}>附件</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <select name="cf_type" lay-verify="required">
                                <option value=""></option>
                                <option value="1" {if condition="$data['cf_type'] eq 1"}selected{/if}>基本信息</option>
                                <option value="2" {if condition="$data['cf_type'] eq 2"}selected{/if}>联系方式</option>
                                <option value="3" {if condition="$data['cf_type'] eq 3"}selected{/if}>SE0</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">值/默认值</label>
                        <div class="layui-input-block">
                            <textarea name="value" placeholder="请输入内容" class="layui-textarea">{$data.value}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">可选值</label>
                        <div class="layui-input-block">
                            <textarea name="values" placeholder="请输入内容" class="layui-textarea">{$data.values}</textarea>
                        </div>
                    </div>
                
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="__ADMIN__/layui/layui.js"></script>
    <script>
    //JavaScript代码区域
    layui.use(['element','form'], function() {
        var element = layui.element;
        var form = layui.form;
    });
    </script>
</body>

</html>