.about-us {
  width: 100%;
  padding: 60px 0;
  margin-bottom: 20px;
}
.about-us h4 {
  text-align: center;
  color: #444;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  position: relative;
  padding-bottom: 20px;
}
.about-us h4:after {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background: #f02626;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 0;
}
.about-us p {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 16px;
  line-height: 30px;
  text-indent: 2em;
  color: #666;
}
.about-wrap {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 80px;
}
.about-wrap .fLeft {
  float: left;
}
.about-wrap .fRight {
  float: right;
}
.about-wrap .pic {
  width: 500px;
}
.about-wrap .pic img {
  display: block;
  width: 100%;
  height: auto;
}
.about-wrap .about-info {
  overflow: hidden;
  width: 600px;
}
.about-wrap .about-info ul {
  overflow: hidden;
}
.about-wrap .about-info ul li {
  width: 18%;
  float: left;
  overflow: hidden;
  margin-left: 2%;
  border-bottom: 4px solid #eee;
  padding-bottom: 40px;
  height: 209px;
}
.about-wrap .about-info ul li p {
  text-indent: 0;
}
.about-wrap .about-info ul li h3 {
  margin-bottom: 30px;
}
.about-wrap .about-info ul li:first-child {
  margin-left: 0;
}
.about-wrap .about-info ol {
  overflow: hidden;
}
.about-wrap .about-info ol li {
  float: left;
  width: 10px;
  height: 10px;
  background: #e5a323;
  margin-left: 5px;
  border-radius: 50%;
}
.about-wrap .about-info .bgColor2 li {
  background: #f02626;
}
.about-wrap .about-info h3 {
  color: #555;
  font-size: 23px;
}
.about-wrap .about-info .marginB {
  text-indent: 0;
  margin-bottom: 30px;
}
.about-wrap .about-info p {
  color: #777;
  text-indent: 2em;
}
